extends template/based



block nav-title 
  li.active ข้อมูลบัญชี


// use span.title 
// use .description 
block title-content
  span.title ข้อมูลบัญชี
  .description แสดงข้อมุูลชี
   


// use row in block
block content 
  .row
    .col-xs-12
      .card
        .card-header
          .card-title
            .title บัญชี     
        .card-body.no-padding
          .col-md-12
            form.form-horizontal(style="padding-top:5%")
              .form-group
                label.col-sm-2.control-label
                  | API token
                .col-sm-10
                  input.form-control(type="text", name="accountToken", value="#{token}" disabled)
              .form-group
          .col-md-6
            table.table.table-bordered
              tr
                td 
                  b ชื่อผู้ใช้
                td #{user.name}
              tr
                td
                  b อีเมล์
                td #{user.email}
                  
                  
        




  

block page-script



  
    

      

    
    
    
    
    
    
    
