.card
  .card-header
    .card-title
      .title
        | ผลผลิต
    .card-body
      a#btn-addProduct.btn.btn-lg.btn-info(data-toggle="modal" data-target="#modalAdd")
              i.fa.fa-plus  
              |  เพิ่ม


        
    .table-responsive(style="padding-top:5%")
      table#productvity_table.table(cellspacing='0', width='100%')
        thead
          tr
            th วันที่
            th จำนวนผลผลิต(กรัม)
            th
        tfoot
          tr

        tbody
            
          
#modalAdd.modal.fade.modal-info(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
               .modal-dialog
                   .modal-content
                    form
                     .modal-header
                       button.close(type='button', data-dismiss='modal', aria-label='Close')
                         span(aria-hidden='true') &times;                                                         
                       h4#myModalLabel.modal-title สร้างประเภทการปลูกพืช                                            
                     .modal-body   

                        .form-group
                          label(for="channelname") วันที่
                          input.form-control(type="text",data-bind ="value: productvity_date",id="date" name="productvity_date", style="padding-right: 10px;")
                        .form-group
                          label(for="description") จำนวนผลผลิต(กรัม)
                          input.form-control(type="text",data-bind = "value: productvity_qty ",id="productvity_qty", name="productvity_qty",style="padding-right: 10px;") 

                              
                     .modal-footer
                       button.btn.btn-default(type='button', data-dismiss='modal') Close                                                        
                       button.btn.btn-info(type='button' data-bind="click: productvitySave",data-dismiss='modal') ตกลง


#modalUpdate.modal.fade.modal-info(tabindex='-1', role='dialog', aria-labelledby='myModalLabelUpdate', aria-hidden='true')
               .modal-dialog
                   .modal-content
                    form
                     .modal-header
                       button.close(type='button', data-dismiss='modal', aria-label='Close')
                         span(aria-hidden='true') &times;                                                         
                       h4#myModalLabelUpdate.modal-title ฟอร์มสร้างประเภทการปลูกพืช                                            
                     .modal-body   

                        .form-group
                          label(for="channelname") วันที่
                          input.form-control(type="text",id="dateUpdate" name="productvity_date_Update", style="padding-right: 10px;")
                        .form-group
                          label(for="description") จำนวนผลผลิต
                          input.form-control(type="text",id="productvity_qty_Update", name="productvity_qty_Update",style="padding-right: 10px;")


                              
                     .modal-footer
                       input(type="hidden" id="product_id_Update")
                       button.btn.btn-default(type='button', data-dismiss='modal') ปิด                                                        
                       button.btn.btn-info(type='button' id="btn_product_update",data-dismiss='modal') ตกลง                      




        
        
    


            
            
                                   
  
