extends template/based



block nav-title 
  li.active แสดง พืชที่ปลูก


// use span.title 
// use .description 
block title-content
  span.title แสดงข้อมูล
  .description คุณสามารถดูข้อมูลและรายละเอียดเพิ่มเติม
   


// use row in block
block content 
  .row
    .col-xs-12
      .card
        .card-header
          .card-title
            .title ฟาร์ม : #{channel.name}     
        .card-body.no-padding
        div(role='tabpanel')
          // Nav tabs
          ul.nav.nav-tabs(role='tablist')
            li(role='presentation')
              a(href='#info', aria-controls='info', role='tab', data-toggle='tab') รายละเอียด               
            li(role='presentation')
              a(href='#devicecontrol', aria-controls='devicecontrol', role='tab', data-toggle='tab') ควบคุมอุปกรณ์                    
            li(role='presentation')
              a(href='#Productvity', aria-controls='Productvity', role='tab', data-toggle='tab') บันทึกผลผลิด                
            li(role='presentation')
              a(href='#Analytics', aria-controls='Analytics', role='tab', data-toggle='tab') เปรียบเทียบและแสดงข้อมูล
          // Tab panes
          .tab-content
            #info.tab-pane.active(role='tabpanel')
                .col-md-4
                  .col-md-6(style="padding:0px")
                    .card.green.summary-inline
                      .card-body
                        i.icon.glyphicon.glyphicon-leaf.fa-3x
                        .content
                          .title(data-bind="text:lastH, transition: slideDown", style="font-size: 1.5em")
                            |60
                          .sub-title
                            |ความชื้น
                        .clear-both
                  .col-md-6(style="padding:0px")
                    .card.yellow.summary-inline
                      .card-body
                        i.icon.glyphicon.glyphicon-fire.fa-3x
                        .content
                            .title(data-bind="text:lastT,  transition: slideDown", style="font-size: 1.5em")
                              |10
                            .sub-title
                              |อุณหภูมิ
                        .clear-both
                        
                  table.table.table-bordered
                    tr
                      td ชื่อของช่อง
                      td(data-bind="text:chName") 
                    tr
                      td คำอธิบายช่อง
                      td(data-bind="text:chDes") 
                    tr
                      td วันที่สร้าง
                      td(data-bind="text:chCreateAt")
                    tr
                      td ข้อมูลล่าสุด
                      td(data-bind="text:chLE") 
                    tr
                      td จำนวนข้อมูลทั้งหมด
                      td(data-bind="text:chCN") 
                    tr
                      td  สถาณะของอุปกรณ์ 
                      td(data-bind="text:device_status")
                    tr
                      td ที่อยู่ของอุปกรณ์ [-wlan0-] 
                      td(data-bind="text:device_ip")
                        
                      
                .col-md-8
                  //canvas#ch_chart(width="400" height="250")
                  #container-h(style="width:100%; height:500px")
                  
            #devicecontrol.tab-pane(role='tabpanel')
              .row
                .col-md-3.col-sm-12
                  .card.body.blue.summary-inline
                    .card-body
                      .content
                        i.icon.fa.fa-tint.fa-4x
                          h1 ควบคุมน้ำ
                          input.toggle-checkbox(type='checkbox', name='my-checkbox', )
                      .clear-both
                
            #Productvity.tab-pane(role='tabpanel')
              include channel-view-tab3
            #Analytics.tab-pane(role='tabpanel')
              include channel-view-tab4




  

block page-script
  script(type='text/javascript', src='../../js/custom/channel-view.js')
  
  script.

    var channel_id = '#{channel._id}';
    var channel_CreateAt = new Date('#{channel.createdAt}');
    $(document).ready(function(){
      $('.bootstrap-switch-primary').width(-42);    
    }); 
  
    

      

    
    
    
    
    
    
    
