.card
  .card-header
    .card-title
      .title
        | การวิเคราะห์ข้อมูล 
    .card-body
      .row
        .col-md-6.col-md-offset-3.col-sm-12  
          #reportrange.pull-right(style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%")
            i.glyphicon.glyphicon-calendar.fa.fa-calendar|&nbsp;
            span
              b.caret

      .row
        .col-md-12
          #analytics_container(style="width:100%; height:500px;")
