extends template/based

// example for every page page





block nav-title 
  li.active 
    i.fa.fa-signal 
    |   ประเภทพืชที่ปลูก
      


// use span.title 
// use .description 
block title-content
  span.title จัดการพืชที่ปลูก
  .description เพิ่ม ลบ แก้ไข ประเภทพืชที่ปลูก
   


// use row in block
block content 
  #animatedModal
    .close-animatedModal
      .modal-content
  .row
    .col-xs-12
      .card 
        .card-header
          .card-title
            a#btn-create.btn.btn-lg.btn-info(data-toggle="modal" data-target="#modalInfo")
              i.fa.fa-plus  
              |  เพิ่ม
             
        .card-body
          .table-responsive
            table#ch_table.table.table-striped(cellspacing='0', width='100%')
              thead
                  tr
                    th ชื่อพืชที่ปลูก
                                                                     
                    th.no-sort รายละเอียด
                                                                     
                    th.no-sort กุญแจเข้าระบบ                                  
                                                                     
                    th วันที่สร้าง
                                                                     
                    th.no-sort
                                                         
                tfoot
                  tr
                                                    
                tbody
                for ch in channels
                  tr  
                    td #{ch.name}
                    td #{ch.description}
                    td #{ch._id}
                    td #{ch.createdAt}
                    td(align="center")  
                      a.btn.btn-info(href="/channel/view/#{ch._id}")
                        i.fa.fa-line-chart
                      a.btn.btn-success(update-btn,data-name='#{ch.name}', data-des='#{ch.description}', data-id='#{ch._id}') 
                        i.fa.fa-pencil
                      a.btn.btn-danger(delete-btn href="/channel/delete/#{ch._id}")  
                        i.fa.fa-remove
                    
                       
                  
                  
           #modalInfo.modal.fade.modal-info(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
               .modal-dialog
                   .modal-content
                    form(action="/channel", method="post")
                     .modal-header
                       button.close(type='button', data-dismiss='modal', aria-label='Close')
                         span(aria-hidden='true') &times;                                                         
                       h4#myModalLabel.modal-title สร้างประเภทพืชที่ปลูก                                            
                     .modal-body   

                        .form-group
                          label(for="channelname") ชื่อประเภทพืชที่ปลูก
                          input.form-control(type="text", name="channelname" id="channelname")
                        .form-group
                          label(for="description") รายละเอียด
                          textarea.form-control(row="3" , name="description" id="description")

                              
                     .modal-footer
                       button.btn.btn-default(type='button', data-dismiss='modal') ปิด                                                        
                       button.btn.btn-info(type='submit') ตกลง
        
            #modalSuccess.modal.fade.modal-success(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                  .modal-content
                    form(action="/channel/update", method="post")
                      .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') &times;                                                   
                        h4#myModalLabelS.modal-title แก้ไขประเภทพิชที่ปลูก                                               
                      .modal-body
                          .form-group
                            label(for="channelname") ชื่อประเภทพืชที่ปลูก
                            input.form-control(type="text", name="channelname" id="ch_name_update")
                          .form-group
                            label(for="description") รายละเอียด
                            textarea.form-control(row="3" , name="description" id="ch_des_update")
                            input(type="hidden", id="ch_id_update" , name ='channelid')
                      .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') ปิด                                                  
                        button.btn.btn-success(type='submit') ตกลง



block page-script
  script(type='text/javascript', src='../js/custom/channel.js')
  
  

    

        
