doctype html
html
head
    title ฟาร์มอัจฉริยะ 
      
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='shortcut icon', href='data:image/x-icon;,', type='image/x-icon')

    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    // CSS Libs
    link(rel='stylesheet', type='text/css', href='../../bower_components/bootstrap/dist/css/bootstrap.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/font-awesome/css/font-awesome.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/animate.css/animate.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/checkbox3/dist/checkbox3.min.css')

    link(rel='stylesheet', type='text/css', href='../../bower_components/datatables/media/css/dataTables.bootstrap.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/select2/dist/css/select2.min.css')
    // CSS App
    link(rel='stylesheet', type='text/css', href='../../css/style.css')
         
    link(rel='stylesheet', type='text/css', href='../../css/themes/flat-blue.css')
  body.flat-blue.login-page
    .container
      .login-box
        div
          .login-form.row
            .col-sm-12.text-center.login-header
              i.login-logo.fa.fa-connectdevelop.fa-5x
                                       
              h4.login-title ฟาร์มอัจฉริยะ
                                 
            .col-sm-12
                if message.length > 0 
                    .alert.fresh-color.alert-danger.alert-dismissible.fade.in
                      button.close(data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") x 
                      h4 Oh snap! Access Denied ...
                      span #{message}
                  
                                
                form(action="/signin" method="post")
                  .control
                    input.form-control(name="username" type='text', placeholder='ชื่อผู้ใช้')
                                                   
                  .control
                    input.form-control(name="password" type='password', placeholder='รหัสผ่าน')
                                                   
                  .login-button.text-center
                    input.btn.btn-primary(type='submit', value='เข้าสู่ระบบ')
                                       
              .login-footer
                span.text-right
                  a.color-white(href='/register') สมัครสมาขชิก
    // Javascript Libs
    script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.min.js')
         
    script(type='text/javascript', src='../../bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(type='text/javascript', src='../../bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
         
    script(type='text/javascript', src='../../bower_components/matchHeight/jquery.matchHeight-min.js')
         
    script(type='text/javascript', src='../../bower_components/select2/dist/js/select2.full.min.js')
         
    script(type='text/javascript', src='../../bower_components/ace-builds/src/ace.js')
         
    script(type='text/javascript', src='../../bower_components/ace-builds/src/mode-html.js')
         
    script(type='text/javascript', src='../../bower_components/ace-builds/src/theme-github.js')
