doctype html
html
head
    title ฟาร์มอัจฉริยะ สมัครสมาชิก  
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='shortcut icon', href='data:image/x-icon;,', type='image/x-icon')

    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    // CSS Libs
    link(rel='stylesheet', type='text/css', href='../../bower_components/bootstrap/dist/css/bootstrap.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/font-awesome/css/font-awesome.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/animate.css/animate.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/checkbox3/dist/checkbox3.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/datatables/media/css/jquery.dataTables.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/datatables/media/css/dataTables.bootstrap.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/select2/dist/css/select2.min.css')
    // CSS App
    link(rel='stylesheet', type='text/css', href='../../css/style.css')
         
    link(rel='stylesheet', type='text/css', href='../../css/themes/flat-blue.css')
  body.flat-blue.login-page
    .container
      .login-box(style="max-width:600px")
        .row  
          .col-md-12
            .card(style="margin-top:5%")
              .card-header
                .card-title
                  .title สมัครสมาชิก
              .card-body
                if message  
                  .alert.alert-danger
                    strong #{message}
                form.form-horizontal(action="/register" method="post")
                  .form-group
                      label.col-sm-2.control-label(for='username') ชื่อผู้ใช้
                                                                   
                      .col-sm-10
                        input#username.form-control(name="username" type='text', placeholder='ชื่อผู้ใช้')
                                                             
                    .form-group
                      label.col-sm-2.control-label(for='password') รหัสผ่าน
                                                                   
                      .col-sm-10
                        input#password.form-control(name="password" type='password', placeholder='รหัสผ่าน')
                        
                  
                    .form-group
                      label.col-sm-2.control-label(for='email') อีเมล์
                                                                     
                      .col-sm-10
                        input#email.form-control(name="email" type='email', placeholder='อีเมล์')
                                                               
                                                             
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type='submit') บันทึก
                        button.btn.btn-danger(type='reset') ยกเลิก

            
            
                                   
    // Javascript Libs
    script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.min.js')
         
    script(type='text/javascript', src='../../bower_components/bootstrap/dist/js/bootstrap.min.js')
         
    script(type='text/javascript', src='../../bower_components/Chart.js/dist/Chart.min.js')
         
    script(type='text/javascript', src='../../bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
         
         
    script(type='text/javascript', src='../../bower_components/matchHeight/jquery.matchHeight-min.js')
         
    script(type='text/javascript', src='../../bower_components/datatables/media/js/jquery.dataTables.min.js')
         
    script(type='text/javascript', src='../../bower_components/datatables/media/js/dataTables.bootstrap.min.js')
         
    script(type='text/javascript', src='../../bower_components/select2/dist/js/select2.full.min.js')
         
    script(type='text/javascript', src='../../bower_components/ace-builds/src/ace.js')
         
    script(type='text/javascript', src='../../bower_components/ace-builds/src/mode-html.js')
         
    script(type='text/javascript', src='../../bower_components/ace-builds/src/theme-github.js')
    // Javascript
    script(type='text/javascript', src='../../js/app.js')
