doctype html
html
head
    title Intelligent Farm 
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='shortcut icon', href='data:image/x-icon;,', type='image/x-icon')

    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    // CSS Libs
    link(rel='stylesheet', type='text/css', href='../../bower_components/bootstrap/dist/css/bootstrap.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/font-awesome/css/font-awesome.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/animate.css/animate.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/checkbox3/dist/checkbox3.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/datatables/media/css/jquery.dataTables.min.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/datatables/media/css/dataTables.bootstrap.css')
         
    link(rel='stylesheet', type='text/css', href='../../bower_components/select2/dist/css/select2.min.css')
    // CSS App
    link(rel='stylesheet', type='text/css', href='../../css/style.css')
         
    link(rel='stylesheet', type='text/css', href='../../css/themes/flat-blue.css')
    
    link(rel='stylesheet', type='text/css', href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css")

    link(rel='stylesheet', type='text/css', href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css")
    
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css')
    
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    
    
    
  body.flat-blue
    .se-pre-con
    .app-container
      .row.content-container
        nav.navbar.navbar-default.navbar-fixed-top.navbar-top
          .container-fluid
            .navbar-header
              button.navbar-expand-toggle(type='button')
                i.fa.fa-bars.icon
                                       
              ol.breadcrumb.navbar-breadcrumb
                block nav-title 
                  li.active nav-title
                                       
              button.navbar-right-expand-toggle.pull-right.visible-xs(type='button')
                i.fa.fa-th.icon
                                 
            ul.nav.navbar-nav.navbar-right
              button.navbar-right-expand-toggle.pull-right.visible-xs(type='button')
                i.fa.fa-times.icon
                                       
             
              li.dropdown.profile
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  
                  strong #{currentuser.name}
                  span.caret
                                             
                ul.dropdown-menu.animated.fadeInDown
                                                   
                  li
                    .profile-info
                      h4.username #{currentuser.name}
                                                               
                      p #{currentuser.email}
                                                               
                      .btn-group.margin-bottom-2x(role='group')
                        a.btn.btn-default(href="/account/view")
                          i.fa.fa-user
                            Profile
                                                                     
                        a.btn.btn-default(href="/signout")
                          i.fa.fa-sign-out
                            Logout
                     
        include side-menu
        .container-fluid
          .side-body
            .page-title
              block title-content
            block content
            
      footer.app-footer
        .wrapper
          span.pull-right &copy; 2015 Copyright.
               
      div
        // Javascript Libs
        
        script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.min.js')
                      
        script(type='text/javascript', src='../../bower_components/bootstrap/dist/js/bootstrap.min.js')
                     
        script(type='text/javascript', src='../../bower_components/Chart.js/dist/Chart.min.js')
                     
        script(type='text/javascript', src='../../bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
                     
        script(type='text/javascript', src='../../bower_components/matchHeight/jquery.matchHeight-min.js')
                     
        script(type='text/javascript', src='../../bower_components/datatables/media/js/jquery.dataTables.min.js')
                     
        script(type='text/javascript', src='../../bower_components/datatables/media/js/dataTables.bootstrap.min.js')
                     
        script(type='text/javascript', src='../../bower_components/select2/dist/js/select2.full.min.js')
                     
        script(type='text/javascript', src='../../bower_components/ace-builds/src/ace.js')
                     
        script(type='text/javascript', src='../../bower_components/ace-builds/src/mode-html.js')
                     
        script(type='text/javascript', src='../../bower_components/ace-builds/src/theme-github.js')
        
        script(type='text/javascript', src='../../js/animatedModal.min.js')
        
        // Javascript
        script(type='text/javascript', src='../../js/app.js')
        
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js')
        
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js')
        
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js')

        script(type='text/javascript', src='../../js/knockout.validation.min.js')

        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js')
        
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.min.js')
        
        script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
        
        script(type='text/javascript', src='http://code.highcharts.com/highcharts-more.js')
        
        script(type='text/javascript', src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
        
        script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
      
        
        
    
        
        
                     
        //script(type='text/javascript', src='../../js/index.js')
        
        block page-script
        
        
        
        script.
          $(window).load(function() {
              $(".se-pre-con").fadeOut(200);
            });
        
