.side-menu.sidebar-default
  nav.navbar.navbar-default(role='navigation')
    .side-menu-container
      .navbar-header
        a.navbar-brand(href='#')
          .icon.fa.fa-envira
                                           
          .title Intelligent Farm
                                     
        button.navbar-expand-toggle.pull-right.visible-xs(type='button')
          i.fa.fa-envira
                               
      ul.nav.navbar-nav
        li.active 
          a(href='../../channel')
            span.icon.fa.fa-television
            span.title จัดการพืชที่ปลูก
                                     
         li
          a(href='../../account/view')
            span.icon.fa.fa-user
            span.title ข้อมูลบัญชีผู้ใช้งาน

    // /.navbar-collapse
// Main Content
  
